.desktop-icon img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 16px;

}
p {
    color:white;
}
.desktop-icon {
    border: solid;
    width: 120px;
    height: 120px;
    border-radius: 25px;
    background-color:pink;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.desktop-icon.selected {
    background-color:aquamarine;
    outline: 1px solid rosybrown;
}
.desktop-icon p {
    color: white;
    margin: 4px 0;
}
#desktopApps {
    flex-direction: row;
    display: flex;
    gap: 20px;
    padding: 20px;
    position: relative;
    z-index: 1;
}
.window h1 {
    text-align: center;
    margin: 8px 0;
    font-size: 12px;
}
.window p {
    text-align: left;
    margin: 6px 0;
    line-height: 1.5;
}
.windowimage {
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
#windows {
    position: relative;
    z-index: 10;
}
.windowimage img {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    object-fit: cover;
}
.windowtopbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:darkorchid;
    border-bottom: 2px solid #ddd;
    padding: 4px 8px;
    margin: -12px -12px 12px -12px;
    border-radius: 30px 30px 0 0;
}
.window {
    width: 480px;
    height: auto;
    max-height: 800px;
    min-height: 300px;
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #b5a3c4;
    border-radius: 30px;
    border-color:darkmagenta;
    padding: 12px;
    border-width: 4px;
    box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 10;
}
.windowheader {
    cursor: move;
    user-select: none;
    margin: 0;
    font-weight: bold;
}
.topbar {
    display: flex;
    justify-content: space-between;
    background-color:cadetblue;
    border-radius: 0 0 10px 10px;
    padding: 20px;
}
.closebutton {
    cursor: pointer;
    font-weight: bold;
    color: red;
}
.factcontainer {
    border-radius: 15px;
    width: 90%;
    min-height: 80px;
    padding: 12px;
    background-color:cornflowerblue;
}
body {
    background-image: url(images/bunny_wallpaper.png);
    background-size: cover;
    height:100vh;

}
#welcome {
    top: 100px;
    left: 150px;
}
#aboutme {
    top: 160px;
    left: 300px;
}
#funfacts {
    top:220px;
    left:200px;
}